.add_task {
    width: 100%;
}

.inputTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputTask input {
    background: none;
    border: 7px solid black;
    border-radius: 20px;
    font-size: 1rem;
    width: 100%;

    margin-right: 20px;
}

.inputTask button {
    border: none;
    background: none;
    cursor: pointer;
}

.inputTask button svg {
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 992px) {
    .inputTask input {
        border: 5px solid black;
        border-radius: 15px;
    }
}

@media screen and (max-width: 768px) {
    .inputTask input {
        border: 3px solid black;
        border-radius: 10px;
    }
}