button {
    border: none;
    background: none;
    cursor: pointer;

    margin: 0 10px;
}

button svg {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 576px) {
    button {
        margin: 0;
    }
}