.task_list {
    width: 100%;
}

.completed_list {
    width: 100%;
}

.task-list_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
}


ul {
    list-style-type: none;
    padding-left: 0;
    visibility: visible;
    margin: 0;
}


.hidden {
    display: none;
}

.list_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-bottom: 3px black solid;
    width: 100%;
}

h1 {
    margin: 0;
}

.spacer {
    visibility: hidden;
    flex-basis: 0;
    flex-grow: 1;
}

.clear_all {
    flex-basis: 0;
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
}

p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1rem;
    margin: 0;
}

.hide_button {
    flex-basis: 0;
    flex-grow: 1;
    width: 2002px;
}